<?xml version="1.0"?>
<config>

	<modules>
		<DerModPro_BasePrice>
			<version>13.02.07</version>
		</DerModPro_BasePrice>
	</modules>

	<global>
		<models>
			<baseprice>
				<class>DerModPro_BasePrice_Model</class>
			</baseprice>
		</models>
		<blocks>
			<catalog>
				<rewrite>
					<product_view>DerModPro_BasePrice_Block_Catalog_Product_View</product_view>
					<product_view_type_simple>DerModPro_BasePrice_Block_Catalog_Product_View_Type_Simple</product_view_type_simple>
				</rewrite>
			</catalog>
		</blocks>
		<helpers>
			<baseprice>
				<class>DerModPro_BasePrice_Helper</class>
			</baseprice>
		</helpers>
		<resources>
			<baseprice_setup>
				<setup>
					<module>DerModPro_BasePrice</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</baseprice_setup>
			<baseprice_write>
				<connection><use>default_write</use></connection>
			</baseprice_write>
			<baseprice_read>
				<connection><use>default_read</use></connection>
			</baseprice_read>
		</resources>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <baseprice>
                        <type>singleton</type>
                        <class>baseprice/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </baseprice>
                </observers>
            </controller_action_layout_load_before>
        </events>
		<bcp>
			<update_selector_list>
				<baseprice/>
			</update_selector_list>
		</bcp>
	</global>

    <frontend>
        <events>
        	<block_catalog_product_get_price_html>
				<observers>
					<baseprice>
						<type>singleton</type>
						<class>baseprice/observer</class>
						<method>blockCatalogProductGetPriceHtml</method>
					</baseprice>
				</observers>
        	</block_catalog_product_get_price_html>
			<bcp_update_defaults_on_configurable_product>
				<observers>
					<baseprice>
						<type>singleton</type>
						<class>baseprice/observer</class>
						<method>bcpUpdateDefaultsOnConfigurableProduct</method>
					</baseprice>
				</observers>
			</bcp_update_defaults_on_configurable_product>
        </events>
        <layout>
            <updates>
                <baseprice>
                    <file>baseprice.xml</file>
                </baseprice>
            </updates>
        </layout>
        <translate>
            <modules>
                <DerModPro_BasePrice>
                     <files>
                          <default>DerModPro_BasePrice.csv</default>
                     </files>
                </DerModPro_BasePrice>
            </modules>
        </translate>
		<product>
			<collection>
				<attributes>
					<base_price_amount/>
					<base_price_unit/>
					<base_price_base_amount/>
					<base_price_base_unit/>
				</attributes>
			</collection>
		</product>
    </frontend>

    <adminhtml>
        <events>
			<catalog_product_load_after>
				<observers>
					<baseprice>
						<type>singleton</type>
						<class>baseprice/observer</class>
						<method>catalogProductLoadAfter</method>
					</baseprice>
				</observers>
			</catalog_product_load_after>
			<catalog_product_save_before>
				<observers>
					<baseprice>
						<type>singleton</type>
						<class>baseprice/observer</class>
						<method>catalogProductSaveBefore</method>
					</baseprice>
				</observers>
			</catalog_product_save_before>
		</events>
        <translate>
            <modules>
                <DerModPro_BasePrice>
                     <files>
                          <default>DerModPro_BasePrice.csv</default>
                     </files>
                </DerModPro_BasePrice>
            </modules>
        </translate>
	</adminhtml>

	<default>
		<catalog>
			<baseprice>
				<disable_ext>0</disable_ext>
				<base_price_incl_tax>0</base_price_incl_tax>
				<auto_append_base_price>1</auto_append_base_price>
				<frontend_label>equates to {{baseprice}} per {{reference_amount}} {{reference_unit}}</frontend_label>
				<short_label>={{baseprice}} / {{reference_amount}} {{reference_unit_short}}</short_label>
				<default_base_price_unit>ML</default_base_price_unit>
				<default_base_price_amount></default_base_price_amount>
				<default_base_price_base_unit>L</default_base_price_base_unit>
				<default_base_price_base_amount>1</default_base_price_base_amount>
				<units>KG,LBS,G,MG,L,ML,M,SQM,IN,CM,MM,PCS</units>
				<!-- conversion tables -->
				<convert>
					<!-- weight -->
					<MG>
						<to>
							<G>0.001000</G>
							<KG>0.000001</KG>
							<LBS>0.00000220462257811</LBS>
						</to>
					</MG>
					<G>
						<to>
							<MG>1000</MG>
							<KG>0.001</KG>
							<LBS>0.00220462257811</LBS>
						</to>
					</G>
					<LBS>
						<to>
							<MG>453592.379</MG>
							<G>453.592379</G>
							<KG>0.453592379</KG>
						</to>
					</LBS>
					<KG>
						<to>
							<MG>1000000</MG>
							<G>1000</G>
							<LBS>2.20462257811</LBS>
						</to>
					</KG>
					<!-- fluids -->
					<ML>
						<to>
							<L>0.001</L>
						</to>
					</ML>
					<L>
						<to>
							<ML>1000</ML>
						</to>
					</L>
					<!--  distance -->
					<MM>
						<to>
							<CM>0.1</CM>
							<IN>0.0393700787402</IN>
							<M>0.001</M>
						</to>
					</MM>
					<CM>
						<to>
							<MM>10</MM>
							<IN>0.393700787402</IN>
							<M>0.01</M>
						</to>
					</CM>
					<IN>
						<to>
							<MM>25.4</MM>
							<CM>2.54</CM>
							<M>0.0254</M>
						</to>
					</IN>
					<M>
						<to>
							<MM>1000</MM>
							<CM>100</CM>
							<IN>39.3700787402</IN>
						</to>
					</M>
					<!-- area -->
					<SQM>
						<to>
							<SQM>1</SQM>
						</to>
					</SQM>
					<!-- misc -->
					<PCS>
						<to>
							<PCS>1</PCS>
						</to>
					</PCS>
				</convert>
			</baseprice>
		</catalog>
		<dermodpro_bcp>
			<bcp>
				<update_baseprice_dom_xpath_default><![CDATA[//div[@class="product-essential"]//div[@class="baseprice-box"]]]></update_baseprice_dom_xpath_default>
				<update_baseprice_dom_csspath_default><![CDATA[.product-essential .baseprice-box]]></update_baseprice_dom_csspath_default>
				<!-- use the price settings to decide if the baseprice block should be updated -->
				<update_baseprice_handle>price</update_baseprice_handle>
			</bcp>
		</dermodpro_bcp>
	</default>
</config>
