<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_GDM>
            <version>0.1.0</version>
        </IntegerNet_GDM>
    </modules>
    <global>
        <models>
            <gdm>
                <class>IntegerNet_GDM_Model</class>
            </gdm>
        </models>
        <blocks>
            <gdm>
                <class>IntegerNet_GDM_Block</class>
            </gdm>
        </blocks>
        <helpers>
            <gdm>
                <class>IntegerNet_GDM_Helper</class>
            </gdm>
        </helpers>
        <resources>
            <gdm_setup>
                <setup>
                    <module>IntegerNet_GDM</module>
                    <class>gdm/setup</class>
                </setup>
            </gdm_setup>
        </resources>
        <events>
            <controller_action_predispatch_install_wizard_index>
                <observers>
                    <gdm>
                        <type>singleton</type>
                        <class>gdm/observer</class>
                        <method>predispatchInstallStart</method>
                    </gdm>
                </observers>
            </controller_action_predispatch_install_wizard_index>
            <controller_action_predispatch_install_index_index>
                <observers>
                    <gdm>
                        <type>singleton</type>
                        <class>gdm/observer</class>
                        <method>predispatchInstallStart</method>
                    </gdm>
                </observers>
            </controller_action_predispatch_install_index_index>
            <controller_action_predispatch_install_wizard_config>
                <observers>
                    <gdm>
                        <type>singleton</type>
                        <class>gdm/observer</class>
                        <method>predispatchInstallWizard</method>
                    </gdm>
                </observers>
            </controller_action_predispatch_install_wizard_config>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <gdm>
                    <files>
                        <default>IntegerNet_GDM.csv</default>
                    </files>
                </gdm>
            </modules>
        </translate>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <gdm>
                        <type>singleton</type>
                        <class>gdm/observer</class>
                        <method>afterAdminUserLogin</method>
                    </gdm>
                </observers>
            </admin_session_user_login_success>
        </events>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <IntegerNet_GDM after="Mage_Adminhtml">IntegerNet_GDM</IntegerNet_GDM>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <general>
            <locale>
                <code>de_DE</code>
            </locale>
        </general>
        <dev>
            <log>
                <active>1</active>
            </log>
            <js>
                <merge_files>0</merge_files>
            </js>
            <css>
                <merge_css_files>0</merge_css_files>
            </css>
            <admin>
                <security>
                    <session_cookie_lifetime>36000</session_cookie_lifetime>
                </security>
                <startup>
                    <page>system/gdm</page>
                </startup>
            </admin>
        </dev>
    </default>
</config>