<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_GDM>
            <version>0.1.0</version>
        </IntegerNet_GDM>
    </modules>
    <global>
        <models>
            <gdm>
                <class>IntegerNet_GDM_Model</class>
            </gdm>
        </models>
        <blocks>
            <gdm>
                <class>IntegerNet_GDM_Block</class>
            </gdm>
        </blocks>
        <helpers>
            <gdm>
                <class>IntegerNet_GDM_Helper</class>
            </gdm>
        </helpers>
        <resources>
            <gdm_setup>
                <setup>
                    <module>IntegerNet_GDM</module>
                    <class>gdm/setup</class>
                </setup>
            </gdm_setup>
        </resources>
        <events>
            <controller_action_predispatch_install_wizard_index>
                <observers>
                    <gdm>
                        <type>singleton</type>
                        <class>gdm/observer</class>
                        <method>predispatchInstallStart</method>
                    </gdm>
                </observers>
            </controller_action_predispatch_install_wizard_index>
            <controller_action_predispatch_install_index_index>
                <observers>
                    <gdm>
                        <type>singleton</type>
                        <class>gdm/observer</class>
                        <method>predispatchInstallStart</method>
                    </gdm>
                </observers>
            </controller_action_predispatch_install_index_index>
            <controller_action_predispatch_install_wizard_config>
                <observers>
                    <gdm>
                        <type>singleton</type>
                        <class>gdm/observer</class>
                        <method>predispatchInstallWizard</method>
                    </gdm>
                </observers>
            </controller_action_predispatch_install_wizard_config>
            <controller_action_predispatch_install_wizard_administrator>
                <observers>
                    <gdm>
                        <type>singleton</type>
                        <class>gdm/observer</class>
                        <method>predispatchInstallWizard</method>
                    </gdm>
                </observers>
            </controller_action_predispatch_install_wizard_administrator>
            <controller_action_predispatch_install_wizard_end>
                <observers>
                    <gdm>
                        <type>singleton</type>
                        <class>gdm/observer</class>
                        <method>predispatchInstallWizard</method>
                    </gdm>
                </observers>
            </controller_action_predispatch_install_wizard_end>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <gdm>
                    <files>
                        <default>IntegerNet_GDM.csv</default>
                    </files>
                </gdm>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <IntegerNet_GDM after="Mage_Adminhtml">IntegerNet_GDM</IntegerNet_GDM>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <gdm>
                    <file>gdm.xml</file>
                </gdm>
            </updates>
        </layout>
    </frontend>

    <default>
        <general>
            <country>
                <allow>DE</allow>
            </country>
            <locale>
                <code>de_DE</code>
            </locale>
            <store_information>
                <merchant_country>DE</merchant_country>
            </store_information>
        </general>
        <design>
            <header>
                <welcome>Herzlich Willkommen!</welcome>
            </header>
            <theme>
                <locale>custom</locale>
                <template>custom</template>
                <skin>custom</skin>
                <layout>custom</layout>
            </theme>
        </design>
        <catalog>
            <custom_options>
                <time_format>24h</time_format>
                <date_fields_order>d,m,y</date_fields_order>
            </custom_options>
        </catalog>
        <removecustomeraccountlinks>
            <settings>
                <remove>recurring_profiles,billing_agreements,OAuth Customer Tokens</remove>
            </settings>
        </removecustomeraccountlinks>
        <persistent>
            <options>
                <enabled>1</enabled>
            </options>
        </persistent>
        <sales_pdf>
            <invoice>
                <engine>firegento_pdf/invoice</engine>
            </invoice>
            <firegento_pdf>
                <show_footer>1</show_footer>
            </firegento_pdf>
        </sales_pdf>
        <shipping>
            <option>
                <checkout_multiple>0</checkout_multiple>
            </option>
        </shipping>
        <autoshipping>
            <settings>
                <enabled>1</enabled>
                <country_id>DE</country_id>
            </settings>
        </autoshipping>
        <carriers>
            <flatrate>
                <title>Pauschale Versandkosten</title>
                <type>O</type>
                <price>4.90</price>
            </flatrate>
            <freeshipping>
                <active>1</active>
                <title>Versandkostenfrei</title>
                <name>Versandkostenfrei</name>
                <free_shipping_subtotal>50</free_shipping_subtotal>
            </freeshipping>
        </carriers>
        <payment>
            <ccsave>
                <active>0</active>
            </ccsave>
            <checkmo>
                <active>0</active>
            </checkmo>
            <checkmo>
                <title>Kostenfrei</title>
            </checkmo>
            <banktransfer>
                <active>1</active>
                <title>Vorkasse</title>
                <sort_order>20</sort_order>
            </banktransfer>
            <debit>
                <active>1</active>
                <title>Lastschrift</title>
                <sort_order>30</sort_order>
                <order_status>pending</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </debit>
            <cashondelivery>
                <active>1</active>
                <title>Nachnahme</title>
                <sort_order>40</sort_order>
                <order_status>pending</order_status>
                <shippingallowspecific>1</shippingallowspecific>
                <shippingspecificcountry>DE</shippingspecificcountry>
                <inlandcosts>2</inlandcosts>
            </cashondelivery>
        </payment>
        <admin>
            <security>
                <session_cookie_lifetime>36000</session_cookie_lifetime>
            </security>
            <startup>
                <page>system/gdm</page>
            </startup>
        </admin>
        <dev>
            <log>
                <active>1</active>
            </log>
            <js>
                <merge_files>0</merge_files>
            </js>
            <css>
                <merge_css_files>0</merge_css_files>
            </css>
        </dev>
    </default>
</config>