<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_GermanStoreConfig>
            <version>1.0.1</version>
        </IntegerNet_GermanStoreConfig>
    </modules>
    <global>
        <models>
            <germanstoreconfig>
                <class>IntegerNet_GermanStoreConfig_Model</class>
            </germanstoreconfig>
        </models>
        <blocks>
            <germanstoreconfig>
                <class>IntegerNet_GermanStoreConfig_Block</class>
            </germanstoreconfig>
        </blocks>
        <helpers>
            <germanstoreconfig>
                <class>IntegerNet_GermanStoreConfig_Helper</class>
            </germanstoreconfig>
        </helpers>
        <resources>
            <germanstoreconfig_setup>
                <setup>
                    <module>IntegerNet_GermanStoreConfig</module>
                    <class>germanstoreconfig/setup</class>
                </setup>
            </germanstoreconfig_setup>
        </resources>
        <events>
            <controller_action_predispatch_install_wizard_index>
                <observers>
                    <germanstoreconfig>
                        <type>singleton</type>
                        <class>germanstoreconfig/observer</class>
                        <method>predispatchInstallStart</method>
                    </germanstoreconfig>
                </observers>
            </controller_action_predispatch_install_wizard_index>
            <controller_action_predispatch_install_index_index>
                <observers>
                    <germanstoreconfig>
                        <type>singleton</type>
                        <class>germanstoreconfig/observer</class>
                        <method>predispatchInstallStart</method>
                    </germanstoreconfig>
                </observers>
            </controller_action_predispatch_install_index_index>
            <controller_action_predispatch_install_wizard_begin>
                <observers>
                    <germanstoreconfig_theme>
                        <type>singleton</type>
                        <class>germanstoreconfig/observer</class>
                        <method>predispatchInstallWizard</method>
                    </germanstoreconfig_theme>
                </observers>
            </controller_action_predispatch_install_wizard_begin>
            <controller_action_predispatch_install_wizard_locale>
                <observers>
                    <germanstoreconfig_theme>
                        <type>singleton</type>
                        <class>germanstoreconfig/observer</class>
                        <method>predispatchInstallWizard</method>
                    </germanstoreconfig_theme>
                </observers>
            </controller_action_predispatch_install_wizard_locale>
            <controller_action_predispatch_install_wizard_config>
                <observers>
                    <germanstoreconfig_theme>
                        <type>singleton</type>
                        <class>germanstoreconfig/observer</class>
                        <method>predispatchInstallWizard</method>
                    </germanstoreconfig_theme>
                </observers>
            </controller_action_predispatch_install_wizard_config>
            <controller_action_predispatch_install_wizard_administrator>
                <observers>
                    <germanstoreconfig_theme>
                        <type>singleton</type>
                        <class>germanstoreconfig/observer</class>
                        <method>predispatchInstallWizard</method>
                    </germanstoreconfig_theme>
                </observers>
            </controller_action_predispatch_install_wizard_administrator>
            <controller_action_predispatch_install_wizard_end>
                <observers>
                    <germanstoreconfig_theme>
                        <type>singleton</type>
                        <class>germanstoreconfig/observer</class>
                        <method>predispatchInstallWizard</method>
                    </germanstoreconfig_theme>
                </observers>
            </controller_action_predispatch_install_wizard_end>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <germanstoreconfig>
                    <file>germanstoreconfig.xml</file>
                </germanstoreconfig>
            </updates>
        </layout>
        <translate>
            <modules>
                <germanstoreconfig>
                    <files>
                        <default>IntegerNet_GermanStoreConfig.csv</default>
                    </files>
                </germanstoreconfig>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <IntegerNet_GermanStoreConfig after="Mage_Adminhtml">IntegerNet_GermanStoreConfig</IntegerNet_GermanStoreConfig>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <germanstoreconfig>
                    <file>germanstoreconfig.xml</file>
                </germanstoreconfig>
            </updates>
        </layout>
        <translate>
            <modules>
                <germanstoreconfig>
                    <files>
                        <default>IntegerNet_GermanStoreConfig.csv</default>
                    </files>
                </germanstoreconfig>
            </modules>
        </translate>
        <events>
            <core_collection_abstract_load_after>
                <observers>
                    <integernet_germanstoreconfig>
                        <type>singleton</type>
                        <class>germanstoreconfig/observer</class>
                        <method>afterLoadCollection</method>
                    </integernet_germanstoreconfig>
                </observers>
            </core_collection_abstract_load_after>
            <cms_page_load_after>
                <observers>
                    <integernet_germanstoreconfig>
                        <type>singleton</type>
                        <class>germanstoreconfig/observer</class>
                        <method>afterLoadCmsPage</method>
                    </integernet_germanstoreconfig>
                </observers>
            </cms_page_load_after>
            <checkout_additional_information>
                <observers>
                    <integernet_germanstoreconfig>
                        <type>singleton</type>
                        <class>germanstoreconfig/observer</class>
                        <method>addCheckoutAdditionalInformation</method>
                    </integernet_germanstoreconfig>
                </observers>
            </checkout_additional_information>
        </events>
    </frontend>

    <default>
        <general>
            <country>
                <allow>DE</allow>
            </country>
            <locale>
                <code>de_DE</code>
            </locale>
            <store_information>
                <merchant_country>DE</merchant_country>
            </store_information>
            <imprint>
                <country>DE</country>
                <display_copyright>1</display_copyright>
            </imprint>
        </general>
        <design>
            <header>
                <welcome>Herzlich Willkommen!</welcome>
            </header>
            <theme>
                <locale>custom</locale>
                <template>custom</template>
                <skin>custom</skin>
                <layout>custom</layout>
            </theme>
        </design>
        <catalog>
            <custom_options>
                <time_format>24h</time_format>
                <date_fields_order>d,m,y</date_fields_order>
            </custom_options>
            <baseprice>
                <base_price_incl_tax>1</base_price_incl_tax>
                <frontend_label>entspricht {{baseprice}} pro {{reference_amount}} {{reference_unit}}</frontend_label>
            </baseprice>
        </catalog>
        <sales>
            <reorder>
                <allow>0</allow>
                <hide_sidebar_box>1</hide_sidebar_box>
            </reorder>
        </sales>
        <removecustomeraccountlinks>
            <settings>
                <remove>recurring_profiles,billing_agreements,tags,OAuth Customer Tokens</remove>
            </settings>
        </removecustomeraccountlinks>
        <persistent>
            <options>
                <enabled>1</enabled>
            </options>
        </persistent>
        <sales_pdf>
            <invoice>
                <engine>firegento_pdf/invoice</engine>
            </invoice>
            <firegento_pdf>
                <show_footer>1</show_footer>
            </firegento_pdf>
        </sales_pdf>
        <shipping>
            <option>
                <checkout_multiple>0</checkout_multiple>
            </option>
        </shipping>
        <autoshipping>
            <settings>
                <enabled>1</enabled>
                <country_id>DE</country_id>
            </settings>
        </autoshipping>
        <carriers>
            <flatrate>
                <title>Versandkosten</title>
                <name>Pauschal</name>
                <type>O</type>
                <price>4.90</price>
            </flatrate>
            <freeshipping>
                <active>1</active>
                <title>Versandkosten</title>
                <name>Versandkostenfrei</name>
                <free_shipping_subtotal>50</free_shipping_subtotal>
            </freeshipping>
        </carriers>
        <payment>
            <ccsave>
                <active>0</active>
            </ccsave>
            <checkmo>
                <active>0</active>
            </checkmo>
            <free>
                <title>Kostenfrei</title>
            </free>
            <banktransfer>
                <active>1</active>
                <title>Vorkasse</title>
                <sort_order>20</sort_order>
            </banktransfer>
            <debit>
                <active>1</active>
                <title>Lastschrift</title>
                <sort_order>30</sort_order>
                <order_status>pending</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </debit>
            <cashondelivery>
                <active>1</active>
                <title>Nachnahme</title>
                <sort_order>40</sort_order>
                <order_status>pending</order_status>
                <shippingallowspecific>1</shippingallowspecific>
                <shippingspecificcountry>DE</shippingspecificcountry>
                <inlandcosts>2</inlandcosts>
                <customtext>Bei Zahlung per Nachnahme erhebt der Zusteller zusätzlich 2,00 €
                    Übermittlungsentgelt vor Ort.</customtext>
            </cashondelivery>
        </payment>
        <admin>
            <security>
                <session_cookie_lifetime>36000</session_cookie_lifetime>
            </security>
            <startup>
                <page>system/germanstoreconfig</page>
            </startup>
            <germanstoreconfig>
                <display_logo>1</display_logo>
                <display_menu>1</display_menu>
                <display_dashboard_block>1</display_dashboard_block>
                <datatransfer>0</datatransfer>
            </germanstoreconfig>
        </admin>
        <dev>
            <log>
                <active>1</active>
            </log>
            <js>
                <merge_files>0</merge_files>
            </js>
            <css>
                <merge_css_files>0</merge_css_files>
            </css>
        </dev>
        <germanstoreconfig>
            <appfactory_url_de>http://de.nr-apps.com</appfactory_url_de>
            <appfactory_url_en>http://www.nr-apps.com</appfactory_url_en>
            <magentode_url_de>http://de.nr-apps.com/store/magento-de.html</magentode_url_de>
            <magentode_url_en>http://www.nr-apps.com/store/magento-de.html</magentode_url_en>
            <integernet_url_de>http://www.integer-net.de</integernet_url_de>
            <integernet_url_en>http://www.integer-net.de</integernet_url_en>
            <tracking_url>http://www.nr-apps.com/store/germanstoreconfig/tracking</tracking_url>
            <newsfeed_url>http://www.nr-apps.com/store/media/germanstoreconfig/feed.xml</newsfeed_url>
            <iframe_url_prefix>https://www.nr-apps.com/n/magento-de/</iframe_url_prefix>
            <iframe_url_suffix>.html</iframe_url_suffix>
            <default_language>
                <code>de</code>
                <name>Deutsch</name>
            </default_language>
            <available_languages>
                <en_US>English</en_US>
                <!--<fr_FR>Français</fr_FR>-->
                <!--<it_IT>Italiano</it_IT>-->
            </available_languages>
        </germanstoreconfig>
        <ikonoshirt>
            <custom_rss_feeds>
                <feeds>
                    <germanstoreconfig>http://www.nr-apps.com/store/media/germanstoreconfig/feed.xml</germanstoreconfig>
                </feeds>
            </custom_rss_feeds>
        </ikonoshirt>
    </default>
</config>