<?xml version="1.0"?>
<config>
    <sections>
        <admin>
            <groups>
                <germanstoreconfig translate="label">
                    <label>Magento DE</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <display_logo translate="label">
                            <label>Display Logo in Header</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display_logo>
                        <display_menu translate="label">
                            <label>Display Entry in Menu</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display_menu>
                        <display_dashboard_block translate="label">
                            <label>Display Block in Dashboard</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display_dashboard_block>
                        <datatransfer translate="label">
                            <label>Data Transfer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>germanstoreconfig/source_datatransfer</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </datatransfer>
                    </fields>
                </germanstoreconfig>
            </groups>
        </admin>
        <general>
            <groups>
                <imprint>
                    <fields>
                        <display_copyright translate="label">
                            <label>Display Copyright Notice in Imprint</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_copyright>
                    </fields>
                </imprint>
            </groups>
        </general>
    </sections>
</config>
